body {
  background-color: black;
}
#timerContainer {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  border: 0.1rem solid white;
}
.timer,
.reset {
  width: 50%;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  background: black;
  border: 0.2rem solid white;
  cursor: pointer;
  margin: auto;
}
.reset:hover {
  background: yellow;
}
.lighter {
  background: white;
  color: black;
}
